body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #000000;
}

h1 {
  color: #fff;
}

p {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f73;
}
